online_bookshop{
	display: block;
}

book_category {
  visibility: hidden;
}
secondary_category{
	visibility: hidden;
}


name{
	display: block;
	font-size: large;
	font-weight: bold;
	font-style:italic;
	text-align: center;
	color: MediumOrchid;
}

book{
	display: block;
	background-color: pink;
	width: 100%;
	padding: 2%;
	border: outset;
	text-align: center;
	color: Teal;
	
}

book_titles_info{
 display: block;
 }

book_titles_info:before { content: "Τίτλος βιβλίου: " attr(title); color: Teal; padding-right: 30px; }

book_authors{
 display: block;
 }

book_authors:before{ content: "Συγγραφείς: " attr(author_id); author.attr(aname); color: Teal; padding-right: 30px; }


 ISBN{
	 display: block;
 }
 
 ISBN::before{content: "ISBN: ";}
 
 
 
 book_descr{
	 display: block;
 }
 
 book_descr::before{content: "Περιγραφή βιβλίου: ";}
 
 
 dimensions{
	 display: block;
 }
 
 dimensions::before{content: "Διαστάσεις: ";}
 
 
 publisher{
	 display: block;
 }
 publisher::before{content: "Εκδότης: ";}
 
 
 pages{
	 display: block;
 }
 pages::before{content: "Αριθμός σελίδων: ";}
 
 language{
	 display: block;
 }
 language::before{content: "Γλώσσα: ";}
 
 start_value{
	 display: block;
 }
 start_value::before{content: "Αρχική τιμή: ";}
 start_value[currency~="euro"]::after{content: " euro";}
 start_value[currency~="usd"]::after{content: " usd";}
 start_value[currency~="gpb"]::after{content: " gpb";}
 
start_value[currency~="euro"] {
  
}
start_value[currency~="usd"] {
  
}

start_value[currency~="gpb"] {
  
}

 end_value{
	 display: block;
 }
 
 end_value::before{content:"Τελική τιμή: ";}
 end_value[currency~="euro"]::after{content:" euro";}
 end_value[currency~="usd"]::after{content:" usd";}
 end_value[currency~="gpb"]::after{content:" gpb";}
 
end_value[currency~="euro"] {
 
}
end_value[currency~="usd"] {
  
}

end_value[currency~="gpb"] {

}

diathesimotita{
	display: block;
}
diathesimotita::before{content: "Διαθεσιμότητα: "}


Translation{
	display: block;
}

Translation::before{content:"Μετάφραση: "}


Illustration{
	display: block;
}

Illustration::before{content: " Εικονογράφηση: "}

weight{
	display: block;
}

weight::before{content: "Βάρος: "}
weight::after{content: " gr"}

contact_details{
	color: grey;
}
